<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Home </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/logo.png">

		<!-- App css -->
		<link href="../assets/css/config/modern/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
		<link href="../assets/css/config/modern/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

		<link href="../assets/css/config/modern/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
		<link href="../assets/css/config/modern/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

		<!-- icons -->
		<link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    </head>

    

    <body class="loading authentication-bg authentication-bg-pattern">
        
        <div class="card container justify-content-center p-3" style="height: 15rem; width: 30rem; margin-top: 10rem;">
            <div class="card-body">
                <!-- <div class="pt-3 para"> -->
                    <h3 class="text-center mt-5" style="font-family: Georgia; text-transform: capitalize;"> Hello Welcome !</h3>
                    <h5 class="mt-4" style="font-family: Georgia; text-transform: capitalize;"> please kindly click on the register  button for your Registration.</h5>
                <!-- </div> -->
                <div class="mb-5">
                    <button type="button" class="btn btn-primary form-control mt-5"><a href="/home/register" class="text-light">Register</a></button>
                </div>
                
            </div>
        </div>
        
        <footer class="footer footer-alt">
            <script>document.write(new Date().getFullYear())</script> &copy; GSK | <a href="" class="text-black-50">Gskill Management</a> 
        </footer>

        <!-- Vendor js -->
        <script src="../assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="../assets/js/app.min.js"></script>
        
    </body>
</html>